<html>
<head>
	<title>honstats</title>
<style type="text/css">
body {
  padding-top: 10px;
  font-family: monospace;
  background: #333;
  color: #f0f0f0;
}
table {
  border: 1px solid #6E6E70;
}
th {
  color: #F2A949;
  border: 1px solid #6E6E70;
}
td {
  border: 1px solid #6E6E70;
}
a:link {
  text-decoration:none;
  color: #D2FFA6;
}
a:visited {
  text-decoration:none;
  color: #D2FFA6;
}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}
</style>
<head>
<body>
